body, html{
    height: 100%;
    margin: 0;
}

.mainPage{
    min-height: 100%;
    background: linear-gradient(to bottom right, #314755, #26a0da);
}

.button {
    background-color: #333;
    border: none;
    color: white;
    padding: 13px 33px;
    text-align: center;
    text-decoration: none;
    font-family: monospace;
    display: block;
    float: right;
    font-size: 16px;
    margin: 0px 2px;
    margin-top: 2px;
    cursor: pointer;
}

 .sidebar {
     position: fixed;
     left: 10px;
     width: 170px;
     height: 188px;
 }

.sidebar ul{
    background: rgba(204,204,204, 0.2);
}

header{
    height: 100%;
    background: #ccc;
    overflow: auto;
    display: block;
    padding-bottom: 10px;
}

#trText{
    display: block;
    width: 25%;
    float: left;
}

#headerText{
    font-family: monospace;
    font-size: 40px;
    padding-left: 30px;
    padding-top: 5px;
}

#trLogo{
    display: block;
    float: right;
    height: 100px;
    width: 100px;
    margin-right: 30px;
    margin-top: 10px;
}

#trLogo img{
    width: 100%;
}

footer{
    height: 100px;
    width: 100%;
    background: #ccc;
    margin-top: -100px;
    display: block;
}

#bannerText{
    position: relative;
    bottom: 350px;
    left: 20px;
}

#albumBlurb{ 
    width: 400px;
    position: absolute;
    background: rgba(204,204,204, 0.6);
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    bottom: 435px;
    right: 195px;    
}

#albumBlurb h2, p{
    font-family: monospace;
    font-size: 12px;
    text-align: justify;
}

#bannerContainer{
    margin-bottom: -55px;
}

#banner{
    width: 100%;
    height: 350px;
    background-color: darkolivegreen;
}

#banner img{
    height: 100%;
    width: 100%;
}

.mainContent{
    padding-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    width: 80%;
}

#newsBox{
    overflow: hidden;
    background: rgba(204,204,204, 0.2);
    margin-bottom: 20px;
}

#newsBox img{
    display: block;
    max-width: 80%;
    height: auto;
    margin: auto;
    border-radius: 5px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

#content1{
    display: block;
    width: 47%;
    float: left;
    word-wrap: break-word;
    padding-left: 20px;
    padding-right: 15px;
}

#content2{
    display: block;
    width: 47%;
    float: right;
    word-wrap: break-word;
    padding-left: 15px;
    padding-right: 20px;

}

#aboutUs{
    width: 1200px;
    margin: auto;
}

#aboutUs h1{
    font-size: 60px;
    text-align: center;
    font-family: monospace;
}

#aboutUs h4{
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    color: #fff;
}

#aboutUs p{
    font-size: 16px;
    text-align: left;
    font-family: "Courier New";
}

#aboutUs img{
    display: block;
    margin: auto;
}

#aboutUsText{
    display: block;
    width: 1160px;
    background: rgba(204,204,204, 0.2);
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

#aboutUsText img{
    border-radius: 5px;
    display: block;
    max-width: 60%;
    height: auto;
    margin: auto;
}

#whiteText{
    color: #fff;
    font-weight: 800;
}

#footOne{
    display: block;
    float: left;
    height: 100px;
    width: 33%;
}

#footTwo{
    display: block;
    float: left;
    height: 100px;
    width: 33%;
}

#footThree{
    display: block;
    float: left;
    height: 100px;
    width: 33%;
}

#footThree img{
    display: block;
    float: right;
    padding-right: 50px;
    padding-top: 35px;
}

#smallPrint{
    text-align: center;
    font-family: monospace;
    color: #000;
    padding-top: 20px;
}

#smallPrint a{
    text-decoration: none;
    font-family: monospace;
    color: #000;
}

h1{
    color: white;
    font-family: monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 10px;
}

li {
    float: right;
    padding-right: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace;
    font-size: 16px;
}

li a:hover {
    color: lawngreen;
}

.active {
    background-color: #ccc;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: bold;    
}

address{
    font-family: monospace;
    font-style: normal;
    text-align: center;
    padding-top: 10px;
}